.socialbutton {
  display: inline-block;
  margin-bottom: 5px;
  width: 32px;
  height: 32px;
  background-image: url(../img/buttons.png);
}

.socialbutton.facebook {
  background-position: 0 0;
}

.socialbutton.twitter {
  background-position: -32px 0;
}

.socialbutton.youtube {
  background-position: -64px 0;
}

.socialbutton.googleplus {
  background-position: -96px 0;
}

.socialbutton.rss {
  background-position: -128px 0;
}

.socialbutton.foursquare {
  background-position: -160px 0;
}

.socialbutton.github {
  background-position: -192px 0;
}

.socialbutton.instagram {
  background-position: -224px 0;
}

.socialbutton.flickr {
  background-position: -256px 0;
}

#socialbuttons_hover_title {
  margin: 0;
  clear: both;
  height: 15px;
}
