{% load i18n cmsplugin_socialbuttons_tags sekizai_tags %}
{% block socialbuttons %}
  <div id="socialbuttons_list">
    {% render_button instance "facebook" %}
    {% render_button instance "twitter" %}
    {% render_button instance "youtube" %}
    {% render_button instance "googleplus" %}
    {% render_button instance "rss" "Subscribe our %s feed!" %}
    {% render_button instance "foursquare" %}
    {% render_button instance "github" %}
    {% render_button instance "instagram" %}
    {% render_button instance "flickr" %}
    <p id="socialbuttons_hover_title"></p>
  </div>

  {% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_socialbuttons/css/cmsplugin_socialbuttons.css" />
  {% endaddtoblock %}

  {% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}cmsplugin_socialbuttons/js/cmsplugin_socialbuttons.js"></script>
  {% endaddtoblock %}
{% endblock %}
